body {
	font-family: Verdana;
	/*width: 70%;*/
        margin: 1vh 1vw;
	/*margin-left: 5%;*/
        border: 1px solid black;

}

header {
	padding: 1vh 1vw;
	margin-bottom: 1vh;
        border: 1px solid black;
        
}

#contenido{
	margin: 10%;
	text-align: center;
        border: 1px solid yellow;
}

header h1 {
	padding-left: 1%;
	font-size: 1.5em;
}

footer {
	font-size: 0.8em;
	border-top: solid 2px #1f47a8;
	padding-top: 1vw;
	margin-top: 1vw;
	text-align: center;
        border: 1px solid black;
}

.adaptativa-porcentaje{
	width:90%;
        border: 1px solid red;
}
.adaptativa-porcentaje-1{
	width:70%;
        border: 1px solid red;
}
.adaptativa-porcentaje-2{
	width:50%;
        border: 1px solid red;
}

.adaptativa-porcentaje-3{
	width:20%;
        border: 1px solid red;
}

section{
    border: 1px solid red;
}
article{
    border: 1px solid black;
}
